@font-face {
    font-family: 'Sequel Sans';
    src: url('../../fonts/SequelSansTTF.ttf') format('truetype');
    /* Adjust the path and format as needed */
    /* You may need to include additional src lines for different font file formats (e.g., woff, woff2) */
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.RecentNewsAndClubsRanking {
    max-width: 1170px;
    max-height: 354px;
    margin-top: 50px;
    margin-left: 135px;
    display: flex;
    flex-direction: row;
    gap: 50px;

    .left {
        max-width: 580px;
        max-height: 354px;

        .newsTitle {
            max-width: 175px;
            max-height: 38px;
            font-family: 'Sequel Sans', sans-serif;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
            color: #262626;

        }

        .newsContainer {
            max-width: 580px;
            margin-top: 16px;
            max-height: 300px;
            display: flex;
            flex-direction: row;
            gap: 20px;

            .coverContainer {
                max-height: 300px;
                max-width: 270px;

                .coverimg {
                    max-height: 300px;
                    max-width: 270px;
                    position: relative;
                }

                .coverText {
                    max-width: 300px;
                    padding-right: 20px;
                    padding-bottom: 10px;
                    max-height: 82px;
                    margin-top: -85px;
                    margin-right: 40px;
                    border-radius: 0px 0px 6px 6px;
                    background-color: rgb(199, 150, 107);
                    box-shadow: 0px 0px 50px -25px #000000;
                    position: absolute;
                    background: linear-gradient(108.74deg, rgb(199, 150, 107) 50%, rgba(255, 255, 255, 0.9) 100%);
                    display: flex;
                    flex-direction: column;

                    .date {
                        max-width: 176px;
                        max-height: 10px;
                        margin-top: 16px;
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 500;
                        font-size: 10px;
                        margin-left: 18px;
                        line-height: 10px;
                        color: #EBEEF3;

                    }

                    .description {
                        max-width: 234px;
                        margin-top: 10px;
                        margin-left: 18px;
                        max-height: 40px;
                        font-family: 'Sequal Sans', sans-serif;
                        font-weight: 410;
                        font-size: 16px;
                        line-height: 19.82px;
                        color: #EBEEF3;
                    }
                }

            }

            .news {
                max-width: 270px;
                max-height: 300px;
                border-radius: 6px;
                background: #EBEEF3;
                display: flex;
                flex-direction: column;

                .newsSection {
                    flex: 4;
                    max-width: 249px;
                    max-height: 230px;
                    margin-left: 5px;
                    border-radius: 3px;
                    display: flex;
                    flex-direction: column;

                    .eachNews {
                        max-width: 249px;
                        max-height: 70px;
                        border-radius: 3px;
                        display: flex;
                        flex-direction: row;
                        margin: 8px;

                        .newsimg {
                            flex: 1;
                            max-width: 70px;
                            max-height: 70px;
                            border-radius: 3px;
                        }

                        .newsRight {
                            flex: 5;
                            max-width: 179px;
                            max-height: 70px;
                            margin-left: 8px;

                            .up {
                                margin-top: 5px;
                                max-width:  118px;
                                max-height: 10px;
                                font-family: 'DM Sans', sans-serif;
                                font-weight: 500;
                                font-size: 10px;
                                line-height: 10.09px;
                                color: #26262699;
                            }

                            
                        

                        .down {
                            max-width:  177px;
                            max-height: 40px;
                            margin-top: 8px;
                            font-family: 'Sequal Sans', sans-serif;
                            font-weight: 410;
                            font-size: 16px;
                            line-height: 19.82px;
                            color: #262626;
                        }
                        }
                    }
                }
            }

            .moreContainer {
                max-height: 42px;
                max-width:  270px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 28px;

                .morebutton {
                    margin-left: -50px;
                    max-width:  80px;
                    max-height: 25px;
                    border-radius: 3px;
                    gap: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #B8C2CE;

                    .moretext {
                        max-width : 47px;
                        max-height: 16px;
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 500;
                        font-size: 14px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                    }

                    .arrow {
                        font-size: 14px;
                        color: #fff;
                    }
                }
            }
        }
    }

    .right {
        max-width: 580px;
        max-height: 354px;

        .headRight {
            max-width: 197px;
            max-height: 38px;
            font-family: 'Sequel Sans', sans-serif;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
            color: #262626;
            margin-top: 0;
            display: flex;



        }

        .tableContainer {
            max-width: 580px;
            max-height: 300px;
            margin-top: 16px;
            border-radius: 6px;
            background-color: #EBEEF3;
        }
    }
}

@media (max-width: 900px) {
    .RecentNewsAndClubsRanking {
        width: 700px;
        height: 750px;
        margin-top: 0px;
        margin-left: 110px;
        display: flex;
        flex-direction: column;

        .left {
            width: 700px;
            height: 354px;

            .newsTitle {
                width: 175px;
                height: 38px;
                font-family: 'Sequel Sans', sans-serif;
                font-weight: 600;
                font-size: 20px;
                line-height: 18px;
                color: #262626;
                margin-left: 5px;

            }

            .newsContainer {
                width: 700px;
                margin-top: 0px;
                height: 350px;
                display: flex;
                flex-direction: row;
                gap: 20px;

                .coverContainer {
                    height: 350px;
                    width: 350px;

                    .coverimg {
                        height: 350px;
                        width: 350px;
                        position: relative;
                    }

                    .coverText {
                        width: 350px;
                        height: 92px;
                        margin-top: -95px;

                        border-radius: 0px 0px 6px 6px;
                        background-color: rgb(199, 150, 107);
                        box-shadow: 0px 0px 50px -25px #000000;
                        position: absolute;
                        background: linear-gradient(108deg, rgb(199, 150, 107) 50%, rgba(221, 216, 216, 0.978) 100%);
                        display: flex;
                        flex-direction: column;

                        .date {
                            width: 176px;
                            height: 10px;
                            margin-top: 16px;
                            font-family: 'DM Sans', sans-serif;
                            font-weight: 500;
                            font-size: 12px;
                            margin-left: 18px;
                            line-height: 10px;
                            color: #EBEEF3;

                        }
                        .description {
                            width: 334px;
                            margin-top: 10px;
                            margin-left: 18px;
                            height: 30px;
                            font-family: 'Sequal Sans', sans-serif;
                            font-weight: 610;
                            font-size: 20px;
                            line-height: 20.82px;
                            color: #EBEEF3;
                        }
                    }

                }

                .news {
                    width: 330px;
                    height: 350px;
                    border-radius: 6px;
                    background: #EBEEF3;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    .newsSection {
                        flex: 4;
                        width: 300px;
                        height: 230px;
                        margin-left: 5px;
                        border-radius: 3px;
                        display: flex;
                        flex-direction: column;

                        .eachNews {
                            width: 300px;
                            height: 70px;
                            border-radius: 3px;
                            display: flex;
                            flex-direction: row;
                            margin: 8px;
                            margin-top: 20px;

                            .newsimg {
                                flex: 1;
                                width: 90px;
                                height: 90px;
                                border-radius: 3px;
                            }

                            .newsRight {
                                flex: 5;
                                width: 279px;
                                height: 70px;
                                margin-left: 8px;
                                margin-left: 30px;

                                .up {
                                    margin-top: 15px;
                                
                                    width: 218px;
                                    height: 13px;
                                    font-family: 'DM Sans', sans-serif;
                                    font-weight: 500;
                                    font-size: 13px;
                                    line-height: 13.09px;
                                    color: #26262699;
                                }

                                
                            }

                            .down {
                                width: 177px;
                                height: 40px;
                                margin-top: 12px;
                                font-family: 'Sequal Sans', sans-serif;
                                font-weight: 560;
                                font-size: 16px;
                                line-height: 19.82px;
                                color: #262626;
                            }
                        }
                    }
                }

                .moreContainer {
                    height: 42px;
                    width: 350px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .morebutton {
                        width: 80px;
                        height: 25px;
                        border-radius: 3px;
                        gap: 6px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #B8C2CE;

                        .moretext {
                            width: 47px;
                            height: 16px;
                            font-family: 'DM Sans', sans-serif;
                            font-weight: 500;
                            font-size: 14px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                        }

                        .arrow {
                            font-size: 14px;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .right {
           max-width: 700px;
            height: 354px;
            margin-top: 50px;

            .headRight {
                width: 197px;
                height: 38px;
                font-family: 'Sequel Sans', sans-serif;
                font-weight: 600;
                font-size: 20px;
                line-height: 22px;
                color: #262626;
                margin-top: 10px;
                display: flex;



            }

            .tableContainer {
                max-width: 700px;

            }
        }
    }
}

@media (max-width: 500px) {
    .RecentNewsAndClubsRanking{
        max-width: 400px;
        margin-left: 65px;
        display: flex;
        flex-direction: column;
        max-height: 720px;
        gap: 30px;
        .left{
            max-width: 400px;
            margin-left: 0px;
            .newsContainer{
                max-width: 400px;
                .coverContainer{
                    max-width: 180px;
                    .coverimg{
                        max-width: 180px;
                    }
                    .coverText{
                        max-width: 180px;
                        margin-top: -86px;
                        padding-right: 0px;
                        padding-bottom: 0px;
                        .date{
                            max-width: 140px;
                            font-size: 8px;
                            line-height: 8px;
                        }
                        .description{
                            max-width: 160px;
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                }
                .news{
                    max-width: 180px;
                    .newsSection{
                        max-width: 180px;

                        .eachNews{
                            max-width: 180px;

                            .newsimg{
                                max-width: 70px;
                                max-height: 70px;
                            }
                            .newsRight{
                                max-width: 120px;
                                margin-left: 5px;

                                .up{
                                    margin-top: 0px;
                                    max-width: 100px;
                                    font-size: 8px;
                                    line-height: 8px;
                                }
                                .down{
                                    max-width: 110px;
                                    font-size: 14px;
                                    line-height: 14px;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        .right{
            margin-left: 0px;
            max-width: 400px;
            .tableContainer{
                max-width: 400px;
                
            }
        }
    }
}