.tContainer{
    max-width: 570px;
    height: 300px;
    padding-top: 16px;
    margin-left: 0px;
    margin-bottom: 16px;

    table{
        margin-left: 20px;
        margin-bottom: 10px;
        height: 285px;
        width: 510px;
        .firstcell{
            display: flex;
            gap: 5px;

            .slno{
                width:  7.86px;
                height: 15px;
                font-family:'Sequel Sans',sans-serif ;
                font-weight: 550;
                font-size: 13px;
                margin-top: 5px;
                line-height: 13.34px;
                color: #262626;
            }
            .cellimg{
                width: 23.59px;
                height: 24px;
            }
            .clubname{
                margin-top: 5px;
                width: 125px;
                height: 10px;
                font-family: 'Sequel Sans',sans-serif;
                font-weight: 550;
                font-size: 15px;
                line-height: 15.34px;
                color: #262626;
            }
        }
        .td{

            height: 19px;
            font-family: 'Sequel Sans',sans-serif;
            font-weight: 450;
            font-size: 16px;
            color: #262626;
            
        }
        td{
            border-bottom: 0.5px solid #B8C2CE
        }
    }
    
}
.thead{

    text-align: start;

}
tr{
    height: 6px;
   
}

@media (max-width: 900px) {
    .tContainer{
        max-width: 700px;
        height: 300px;
        padding-top: 16px;
        margin-left: -150px;
        margin-bottom: 16px;
    
        table{
            margin-left: 20px;
            margin-bottom: 10px;
            height: 285px;
            max-width: 680px;
            
            .firstcell{
                display: flex;
                gap: 5px;
    
                .slno{
                    width: 7.86px;
                    height: 15px;
                    font-family:'Sequel Sans',sans-serif ;
                    font-weight: 550;
                    font-size: 13px;
                    margin-top: 5px;
                    line-height: 13.34px;
                    color: #262626;
                }
                .cellimg{
                    width: 23.59px;
                    height: 24px;
                }
                .clubname{
                    margin-top: 5px;
                    width: 125px;
                    height: 15px;
                    font-family: 'Sequel Sans',sans-serif;
                    font-weight: 550;
                    font-size: 13px;
                    line-height: 15.34px;
                    color: #262626;
                }
            }
            .td{
    
                height: 19px;
                font-family: 'Sequel Sans',sans-serif;
                font-weight: 450;
                font-size: 16px;
                color: #262626;
                
            }
            td{
                border-bottom: 0.5px solid #B8C2CE
            }
        }
        
    }
    .thead{
    
        text-align: start;
    
    }
    tr{
        height: 6px;
       
    }
}

@media (max-width: 500px) {
    .tContainer{
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        margin-left: -80px;
        table{
            width: 400px;
            gap: 0px;
            max-width: 400px;
            margin-left: 90px;
            .firstcell{
                flex-wrap: wrap;
                gap: 0px;

                .cellimg{
                    width: 20px;
                    height: 20px;
                }
                .clubname{
                    width: 105px;
                    font-size: 10px;
                    line-height: 10px;
                }
            }
        }
    }
}